.action-adventure-style { 
    border: 5px solid blue; 
  }
  
  .action-rpg-style { 
    border: 5px solid green; 
  }
  
  .fps-style { 
    border: 5px solid red; 
  }
  
  .rpg-style { 
    border: 5px solid purple; 
  }
  
  .default-style { 
    border: 5px solid grey; 
  }
  