<div class="card" [ngClass]="cardClass">
  <h1>{{content.title}}</h1>

  <div *ngIf="content.imgURL; else defaultImage">
    <strong>Image:</strong>
    <img src="{{content.imgURL}}" width="200" height="200" (click)="handleClick(content)" alt="{{content.title}}" />
  </div>
  <ng-template #defaultImage>
    <strong>Image:</strong>
    <img src="path/to/default/image.jpg" width="200" height="200" alt="Default Image" />
  </ng-template>
  


  <div>
    <strong>Description:</strong>
    {{content.description}}
  </div>

  <div>
    <strong>Creator:</strong>
    {{content.creator}}
  </div>

  <div *ngIf="content.type">
    <strong>Type:</strong>
    {{content?.type}}
  </div>

  <div *ngIf="content.tags">
    <strong>Tags:</strong>

    <div>
      <span *ngFor="let tagItem of content.tags;" class="badge">
        {{tagItem}}
      </span>
    </div>
  </div>
</div>