<div class="card" [ngClass]="cardClass">
  <h1>{{content.title}}</h1>

  <div *ngIf="content.imgURL; else defaultImage">
    <strong>Image:</strong>
    <img src="{{content.imgURL}}" width="200" height="200" (click)="handleClick(content)" alt="{{content.title}}" />
  </div>
  <ng-template #defaultImage>
    <strong>Image:</strong>
    <img src="https://assets.epicurious.com/photos/609e9d8f6ffd2573e2a7c6d1/16:9/w_2560%2Cc_limit/GarbageCanTest_HERO_021920_063_V1_Badge_final.jpg" width="200" height="200" alt="Default Image" />
  </ng-template>


  <div>
    <strong>Description:</strong>
    {{content.description}}
  </div>

  <div>
    <strong>Creator:</strong>
    {{content.creator}}
  </div>

  <div *ngIf="content.type">
    <strong>Type:</strong>
    <span appHoverAffect="underline">{{content.type}}</span>
  </div>

  <div *ngIf="content.tags">
    <strong>Tags:</strong>
    <div>
      <span *ngFor="let tagItem of content.tags" class="badge" appHoverAffect="bold">
        {{tagItem}}
      </span>
    </div>
  </div>  
</div>