<input type="text" [(ngModel)]="searchTitle" placeholder="Enter title to search">
<button (click)="searchByTitle()">Search</button>
<p [style.color]="searchResultColor">{{ searchResultMessage }}</p>

<!-- content items with no type -->
<ng-container *ngFor="let content of contents | contentFilter: ''">
  <app-content-card [content]="content"></app-content-card>
</ng-container>

<!-- content items by type -->
<ng-container *ngFor="let content of contents">
  <app-content-card *ngIf="content.type" [content]="content" [cardClass]="getCardStyle(content.type)"></app-content-card>
</ng-container>