<div>
  <h1>Content List</h1>
  <input type="text" [(ngModel)]="searchTitle" placeholder="Enter title to search">
  <button (click)="searchByTitle()">Search</button>
  <p [style.color]="searchResultColor">{{ searchResultMessage }}</p>

  <div *ngFor="let type of types">
    <h2>{{ type || 'No Type' }} Content</h2>
    <div *ngFor="let content of contents | contentFilter: type">
      <app-content-card [content]="content" [ngStyle]="getCardStyle(content.type)"></app-content-card>
    </div>
  </div>
</div>
